# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/*.csv

# Logs
logs/

# Configuration files
*.log
*.sqlite

# VSCode settings
.vscode/

# Environment variables
.env

# Distribution / packaging
*.egg
*.egg-info
dist/
build/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Other
*.swp
*.swo
*.sublime-workspace
